body {
    padding-top: 50px;
}
.starter-template {
    padding: 50px 15px;
}
.form-control {
    width: 50%;
}
.inline {
    margin-right: 5px;
}
table {
    width: 60% !important;
}
h1 {
    margin: 24px 0 20px 0 !important;
}