body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.balance {
    display: inline-block;
    margin-right: 10px;
}
.datepicker-input {
    width: 100px;
}
.inline {
    display: inline-block;
    margin-right: 5px;
}
.data-box {
    margin-bottom: 14px;
}