body {
    padding-top: 50px;
}
.starter-template {
    padding: 0 15px;
}
.form-control {
    width: 50%;
}
.inline {
    margin-right: 5px;
}
h1 {
    margin: 24px 0 20px 0 !important;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}