<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Добавить запись</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/entry.css}" />
    <link rel="stylesheet" th:href="@{/css/datepicker3.css}" />
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Семейный бюджет</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Баланс</a></li>
                <li class="active"><a th:href="@{/addEntry}">Добавить доход/расход</a></li>
                <li><a th:href="@{/family}">Семья</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="logoutLink" href="#">Выход</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <div class="alert alert-warning alert-dismissible" role="alert" th:if="${balance le 0}" >
            <strong>Предупреждение!</strong> Вы не можете регистрировать расходы при отрицательном балансе.
        </div>
        <h1>Добавить запись</h1>
        <br />
        <form id="form" th:object="${entry}" method="post">
            <div class="form-group">
                <label for="entry_name">Статья</label>
                <input type="text" class="form-control textInput" id="entry_name" th:field="*{entryName}" placeholder="Статья" required="required" />
            </div>
            <div class="form-group">
                <label for="value">Сумма</label>
                <input type="text" class="form-control numbersOnly" id="value" th:field="*{value}" placeholder="Сумма" required="required" />
            </div>
            <div class="form-group datepicker-input inline">
                <label for="date">Дата</label>
                <input type="text" id="date" class="form-control" th:field="*{date}" placeholder="Дата" required="required" onkeydown="return false" />
            </div>
            <div class="form-group">
                <label for="person_name">Кто</label>
                <input type="text" class="form-control textInput" id="person_name" th:field="*{personName}" placeholder="Кто" required="required" />
            </div>
            <button class="btn btn-default inline submit" type="submit" th:attr="data-url=@{/addEntry/true}">Добавить доход</button>
            <button class="btn btn-default inline submit" type="submit" th:attr="data-url=@{/addEntry/false}" th:if="${balance &gt; 0}">Добавить расход</button>
        </form>
    </div>
    <form id="logoutForm" th:action="@{/logout}" method="post"></form>

</div><!-- /.container -->

<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.js}"></script>
<script>
    $('.datepicker-input input').datepicker({
        format: "dd.mm.yyyy",
        weekStart: 1,
        language: "ru",
        daysOfWeekHighlighted: "0,6",
        autoclose: true,
        todayHighlight: true
    });
    $( ".submit" ).click(function() {
        var action = $(this).attr("data-url");
        $("form").attr('action', action);
    });
    $('.numbersOnly').keyup(function () {
        if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        }
    });
    $('.textInput').keyup(function () {
        if (this.value != this.value.replace(/[^a-zа-я ,.'-]+$/i, '')) {
            this.value = this.value.replace(/[^a-zа-я ,.'-]+$/i, '');
        }
    });
    $("#logoutLink").click(function() {$("#logoutForm").submit();});
</script>

</body>
</html>
