<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Семья</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/family.css}" />
    <link rel="stylesheet" th:href="@{/css/datepicker3.css}" />
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Семейный бюджет</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Баланс</a></li>
                <li><a th:href="@{/addEntry}">Добавить доход/расход</a></li>
                <li class="active"><a th:href="@{/family}">Семья</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="logoutLink" href="#">Выход</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <div class="alert alert alert-danger alert-dismissible" role="alert" th:if="${loginError}">
            <strong>Ошибка!</strong> Уже существует пользователь с таким логином.
        </div>
        <div class="alert alert alert-danger alert-dismissible" role="alert" th:if="${passwordError}">
            <strong>Ошибка!</strong> Введенные пароли не совпадают.
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="35%">Логин</th>
                <th width="60%">Ф.И.О</th>
                <th width="5%" th:if="${persons.size() gt 1}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${persons}">
                <td width="35%" th:text="${person.login}"></td>
                <td width="60%" th:text="${person.fullName}"></td>
                <td width="5%" th:if="${persons.size() gt 1}"><a th:href="@{/person/delete/} + ${person.id}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a></td>
            </tr>
            </tbody>
        </table>
        <h1>Добавить запись</h1>
        <form id="form" th:object="${person}" method="post" th:action="@{person/create}">
            <div class="form-group">
                <label for="login">Логин</label>
                <input type="text" class="form-control loginInput" id="login" th:field="*{login}" placeholder="Логин" required="required" />
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control loginInput" id="password" th:field="*{password}" placeholder="Пароль" required="required" />
            </div>
            <div class="form-group">
                <label for="confirm">Подтвердите пароль</label>
                <input type="password" class="form-control loginInput" id="confirm" th:field="*{confirmPassword}" placeholder="Подтвердите пароль" required="required" />
            </div>
            <div class="form-group">
                <label for="name">Ф.И.О</label>
                <input type="text" class="form-control textInput" id="name" th:field="*{fullName}" placeholder="Ф.И.О" required="required" />
            </div>
            <button class="btn btn-default inline submit" type="submit" >Добавить</button>
        </form>
    </div>
    <form id="logoutForm" th:action="@{/logout}" method="post"></form>

</div><!-- /.container -->

<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.js}"></script>
<script>
    $('.textInput').keyup(function () {
        if (this.value != this.value.replace(/[^a-zа-я ,.'-]+$/i, '')) {
            this.value = this.value.replace(/[^a-zа-я ,.'-]+$/i, '');
        }
    });
    $('.loginInput').keyup(function () {
        if (this.value != this.value.replace(/[^a-z0-9._]+$/i, '')) {
            this.value = this.value.replace(/[^a-z._]+$/i, '');
        }
    });
    $("#logoutLink").click(function() {$("#logoutForm").submit();});
</script>

</body>
</html>
