<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/signin.css}" />
</head>
<body>

<div class="container">

    <form class="form-signin" th:action="@{/login}" method="post">
        <h1 class="form-signin-heading">Вход в систему</h1>
        <label for="usernameInput" class="sr-only">Логин</label>
        <input type="text" id="usernameInput" name="username" class="form-control" placeholder="Логин" required="required" autofocus="autofocus" />
        <label for="passwordInput" class="sr-only">Пароль</label>
        <input type="password" id="passwordInput" name="password" class="form-control" placeholder="Пароль" required="required" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        <button id="registration" class="btn btn-lg btn-primary btn-block" type="button" >Регистрация</button>
    </form>

</div>

<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script>
    $("#registration").click(function() {
        window.location.href = 'registration';
    });
</script>

</body>
</html>