<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/datepicker3.css}" />
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Семейный бюджет</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Баланс</a></li>
                <li><a th:href="@{/addEntry}">Добавить доход/расход</a></li>
                <li><a th:href="@{/family}">Семья</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="logoutLink" href="#">Выход</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1 class="balance">Текущий баланс: </h1><h1 class="balance" th:classappend="${balance gt 0} ? 'green' : 'red'" th:text="${#numbers.formatInteger(balance,1,'WHITESPACE')}"></h1>
        <br /><br />
        <form th:object="${searchForm}">
            <span class="inline lead">Показать историю за период с</span>
            <div class="datepicker-input inline">
                <input type="text" name="start" th:field="*{start}" class="form-control" />
            </div>
            <span class="inline lead">по</span>
            <div class="datepicker-input inline">
                <input type="text" name="end" th:field="*{end}" class="form-control" />
            </div>
            <button class="btn btn-default inline" type="submit">OK</button>
        </form>
        <br />
        <div class="data-box" th:if="!${incomes.isEmpty()}">
            <p class="lead">Доходы:</p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="20%">Статья</th>
                    <th width="35%">Кто</th>
                    <th width="20%">Сумма</th>
                    <th width="20%">Дата</th>
                    <th width="5%"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="income : ${incomes}">
                    <td width="20%" th:text="${income.entryName}"></td>
                    <td width="35%" th:text="${income.personName}"></td>
                    <td width="20%" th:text="${#numbers.formatInteger(income.value,1,'WHITESPACE')}"></td>
                    <td width="20%" th:text="${{income.date}}"></td>
                    <td width="5%"><a th:href="@{/entry/delete/} + ${income.id}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a></td>
                </tr>
                </tbody>
            </table>
            <p class="lead balance">Всего доходов:</p><p class="lead balance" th:text="${#numbers.formatInteger(incomeValue,1,'WHITESPACE')}"></p>
        </div>
        <div th:if="${incomes.isEmpty()}">
            <div class="alert alert-warning alert-dismissible" role="alert" >
                Не найдено доходов за указанный период.
            </div>
        </div>
        <div  class="data-box" th:if="!${outcomes.isEmpty()}">
            <p class="lead">Расходы:</p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="20%">Статья</th>
                    <th width="35%">Кто</th>
                    <th width="20%">Сумма</th>
                    <th width="20%">Дата</th>
                    <th width="5%"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="outcome : ${outcomes}">
                    <td width="20%" th:text="${outcome.entryName}"></td>
                    <td width="35%" th:text="${outcome.personName}"></td>
                    <td width="20%" th:text="${#numbers.formatInteger(outcome.value,1,'WHITESPACE')}"></td>
                    <td width="20%" th:text="${{outcome.date}}"></td>
                    <td width="5%"><a th:href="@{/entry/delete/} + ${outcome.id}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a></td>
                </tr>
                </tbody>
            </table>
            <p class="lead balance">Всего расходов:</p><p class="lead balance" th:text="${#numbers.formatInteger(outcomeValue,1,'WHITESPACE')}"></p>
        </div>
        <div th:if="${outcomes.isEmpty()}">
            <div class="alert alert-warning alert-dismissible" role="alert" >
                Не найдено расходов за указанный период.
            </div>
        </div>
    </div>
    <form id="logoutForm" th:action="@{/logout}" method="post"></form>

</div><!-- /.container -->

<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.js}"></script>
<script>
    $('.datepicker-input input').datepicker({
        format: "dd.mm.yyyy",
        weekStart: 1,
        language: "ru",
        daysOfWeekHighlighted: "0,6",
        autoclose: true,
        todayHighlight: true
    });
    $("#logoutLink").click(function() {$("#logoutForm").submit();});
</script>

</body>
</html>
