<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Семья</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/registration.css}" />
</head>

<body>

<div class="container">

    <div class="starter-template center">
        <div class="alert alert alert-danger alert-dismissible" role="alert" th:if="${loginError}">
            <strong>Ошибка!</strong> Уже существует пользователь с таким логином.
        </div>
        <div class="alert alert alert-danger alert-dismissible" role="alert" th:if="${passwordError}">
            <strong>Ошибка!</strong> Введенные пароли не совпадают.
        </div>
        <h1>Регистрация</h1>
        <form id="form" th:object="${person}" method="post" th:action="@{family/create}">
            <div class="form-group">
                <label for="login">Логин</label>
                <input type="text" class="form-control loginInput" id="login" th:field="*{login}" placeholder="Логин" required="required" />
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control loginInput" id="password" th:field="*{password}" placeholder="Пароль" required="required" />
            </div>
            <div class="form-group">
                <label for="confirm">Подтвердите пароль</label>
                <input type="password" class="form-control loginInput" id="confirm" th:field="*{confirmPassword}" placeholder="Подтвердите пароль" required="required" />
            </div>
            <div class="form-group">
                <label for="name">Ф.И.О</label>
                <input type="text" class="form-control textInput" id="name" th:field="*{fullName}" placeholder="Ф.И.О" required="required" />
            </div>
            <button class="btn btn-default inline submit" type="submit" >Регистрация</button>
        </form>
    </div>

</div><!-- /.container -->

<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script>
    $('.textInput').keyup(function () {
        if (this.value != this.value.replace(/[^a-zа-я ,.'-]+$/i, '')) {
            this.value = this.value.replace(/[^a-zа-я ,.'-]+$/i, '');
        }
    });
    $('.loginInput').keyup(function () {
        if (this.value != this.value.replace(/[^a-z0-9._]+$/i, '')) {
            this.value = this.value.replace(/[^a-z._]+$/i, '');
        }
    });
</script>

</body>
</html>
